.signup-container {
    max-width: 600px; 
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .signup-container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 20px;
    padding-right: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input[type="text"],
  .input-group input[type="email"],
  .input-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .input-group input[type="text"]:focus,
  .input-group input[type="email"]:focus,
  .input-group input[type="password"]:focus {
    outline: none;
    border-color: #007bff;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }

  /* Signup.css */
.back-to-login {
  color: blue; /* Change color to indicate it's clickable */
  cursor: pointer; /* Change cursor style to pointer */
}

  