.admin-home {
    padding: 20px;
}

.admin-home .navbar {
    margin-top: 30px; /* Adjust this value as needed */
}

.admin-home .navbar-brand {
    color: #007bff;
    font-weight: bold;
}

.admin-home .navbar-nav .nav-link {
    color: #007bff;
}

.admin-home .container {
    margin-top: 20px;
}

.admin-home .btn-danger {
    margin-left: auto;
}
